# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Logs
*.log
# Ignore raw PCAP files
data/raw/pcap/**/*.pcap
data/raw/pcap/**/*.pcapng

# Ignore processed datasets
data/processed/*.npz
